{
  "extends": [
    "@codeyourfuture/standard",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking"
  ],
  "ignorePatterns": [
    "lib/"
  ],
  "overrides": [
    {
      "files": "src/**/*.test.ts",
      "extends": [
        "plugin:jest/all"
      ],
      "rules": {
        "jest/prefer-expect-assertions": "off",
        "jest/valid-expect": [
          "error",
          {
            "asyncMatchers": [
              "toError",
              "toEmit"
            ]
          }
        ]
      }
    }
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "root": true,
  "rules": {
    "@typescript-eslint/explicit-function-return-type": "error",
    "@typescript-eslint/explicit-module-boundary-types": "error",
    "@typescript-eslint/no-explicit-any": "error",
    "@typescript-eslint/no-namespace": "off",
    "@typescript-eslint/no-non-null-assertion": "error",
    "@typescript-eslint/no-unused-vars": "error"
  }
}
